* {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

body {
    padding: 0;
    margin: 0;
    position: relative;

}

.container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%; 
}

.column-1{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column-2 {
    width: 50%;
    background-image: url("./../img/bosques/bosque.jpg");
}

.login-container {
    width: 60%;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.logo {
  color: rgb(238, 79, 79);  
  font-size: 30px;
  margin-top: 30px;
  font-weight: bolder;
}

.welcome {
    text-align:center;
    margin-bottom: 40px;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    background-color: rgb(84, 155, 247);
    color: white;
    padding: 10px;
    border-radius: 3px;
    border: none;
    margin: 10px 0;
}

.remember-me-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.remember-me-block label {
    font-size: 12px;
}

.remember-link {
    font-size: 12px;
}

.remember-icon {
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    font-size: 12px;
    padding: 3px 4px;
}

.trademark p{
    display: flex;
    align-items: flex-end;
    color: rgb(214, 214, 214);
}

@media (max-width: 700px) {
    .column-1 {
        width: 100%;
    }

    .column-2 {
        display: none;
    }
    .wallpaper {
        display: none;
    }
}